<!DOCTYPE html>
<html>
  <head>
    <title>MadlibApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" type="text/css" href="pages.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <center>

    <div class="container">
        <input type="text" id="verb" placeholder="Type a verb...">
        <input type="text" id="verb2" placeholder="Type another verb...">
        <input type="text" id="verb3" placeholder="Type a third verb...">
        <input type="text" id="noun" placeholder="Type a noun...">
        <input type="text" id="noun2" placeholder="Type a second noun...">
        <input type="text" id="adjective" placeholder="Type an adjective...">

        <input type="submit" id="submit" placeholder="Submit" onclick="madlib()">
    </div>

    <div class="display">
    
    <p id="madlib">
    </p>
    
    </div>

    <center>


    <%= yield %>

    
    <script>

   

    function madlib () {

       var verb = document.getElementById("verb").value;
       var noun = document.getElementById("verb2").value;
       var noun2 = document.getElementById("verb3").value;
       var verb2 = document.getElementById("noun").value;
       var adjective = document.getElementById("noun2").value;
       var verb3 = document.getElementById("adjective").value;

       const madlib = document.getElementById("madlib");
      
        madlib.innerHTML = "This is a really big " + noun + ". Normally, I wouldn't even think to " + verb + " that because of the " + noun2 + ". That said, I should probably " + verb2 + " my " + adjective + " thing so that it'll all " + verb3 + ".";

      
    }

    </script>
    
  </body>
</html>
